body {
    background-color: #F2F2F2;
    height: 100%;
    font-family: "Fira Sans OT";
    font-size: 16px;
}

* {
 box-sizing: border-box;
}

#container {
    width: 1320px;
    margin: 0 auto;
    position: relative;
}

#container>h1 {
    position: absolute;
    top: -50px;
    left: 20px;
    font-size: 50px;
}

h1>em {
    font-style: normal;
    display: inline-block;
    background-color: #F8E71C;
    padding: 7px 10px;
    border-radius: 8px;
}

.kwh {
   margin: 40px 20px 10px 0;
   margin-right: 20px;
    font-weight: bold;
   font-size: 40px;
  text-align: right; 
}

section {
    background-color: #fff;
    box-shadow: 0 2px 7px rgba(0,0,0,0.33);
    border-radius: 8px;
    padding: 10px 30px;
    width: 400px;
    height: 360px;
    margin: 20px;
    position: relative;
    float: left;
}

.main-label, .minor-label {
    font-family: "Adobe Text Pro";
    font-style: italic;
    display: inline-block;
    text-align: right;
    width: 160px;
    margin-right: 10px;
}


.main-value, .minor-value {
    display: inline-block;
    width: 120px;
    margin-right: 10px;
    background-color:  #F8E71C;
    border: none;
    padding: 8px 5px;
    font-size: 16px;
    border-radius: 8px;
}

.minor-unit, .main-unit {
    width: 40px;
}

.main-label {
    display: block;
    width: 360px;
    text-align: center;
}

.main-value {
    margin-left: 10px;
    width: 250px;
    text-align:center;
    padding-left: 40px;
    font-size: 40px;
    font-weight: bold;
}


.main {
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(0,0,0,0.3);
}

.main-unit {

    font-size: 40px;
    font-weight: bold;
}


